Missing References

From Alvaro: `Note that some references are wrong (rfc8754 specifies the SRH; the reference to SRv6 should be rfc8986), and others are missing: I didn't see a reference to where a "5G Network Slice" is defined, and there's no reference for "RSVP-TE or SR-TE LSPs".  Are there references for 1r2c/2r3c?`

Updated references for SRv6 (RFC8986), RSVP-TE (RFC3209), SR-TE (RFC9256), 1r2c (RFC2475) and 2r3c (RFC2698/RFC4115).

Definition of "5G Network Slice" is still required.